div .info-name {
    padding: 10px;
    width: 120px;
    display: inline-block;
    background: orange;
    border-top-left-radius: 4pt;
    border-bottom-left-radius: 4pt;
    font-weight: bold;
}

div .info-value {
    padding: 10px;
    background: lightblue;
    display: inline-block;
    width: 240px;
    border-top-right-radius: 4pt;
    border-bottom-right-radius: 4pt;
}
