.no-info-wrapper {
    display: inline-block;
    margin: 5%;
    text-align: left;
}

.no-info-wrapper div {
    margin-bottom: 15px;
    background: lightblue;
    border-radius: 5pt;
    width: 400px;
    font-size: 20px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    box-shadow: 0px 10px 15px 0px  #2b567e;
    text-align: center;
    padding: 15px;
}

.info-wrapper {
    display: inline-block;
    margin: 5%;
    text-align: left;
}

.info-wrapper div {
    margin-bottom: 15px;
    border-radius: 5pt;
    width: 400px;
    font-size: 20px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    box-shadow: 0px 10px 15px 0px #2b567e;
    text-align: center;
}
